version: '3.8'
services:
  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_DB: property_listings
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend_network

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data  
    networks:
      - backend_network
      

networks:
  backend_network:
    driver: bridge

volumes:
  postgres_data:  # Volume definition for PostgreSQL
  redis_data:  # Volume definition for Redis
